
/*
  Since we're in a WebView, we should only ever need the -webkit prefix and the unprefixed properties
*/
vendor-prefixes ?= webkit official

@import 'nib'

filter() {
  vendor('filter', arguments)
}
