.navbar-brand-ext {
  display: inline-block;
  width: 50px;
  background-image: url('Gids.png');
  height: 35px;
  background-size: cover;
  background-repeat-x: no-repeat;
  overflow: visible;
  z-index: 2;
  position: absolute;
  left: 176px;
  top: 22px;

  font-size: 14px;
  color: #aaa;
  .badge {
    font-weight: normal;
  }
}
