.movie-list {
    padding: 50px 10px 0px 10px;
    overflow-x: hidden;
}

.movie-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #444;

  .movie-info {
    * {
      margin-bottom: 10px;
    }

  }

}

h3 a {
    color: white;
}

.genre-icon {
    background-color: #ccc;
    width: 24px;
    height: 24px;
}

.dropdown-menu {
  padding: 0 15px 15px 15px;
}

.genres {
  input[type=checkbox] {
    display: none;
  }
  label {
    display: block;
  }
  .label {
    display: block;
  }
}

.badge-default {
  background-color:  #424242;
}

a.btn-xs > .glyphicon {
  line-height: 0;
  margin-right: 5px;
}
