
.movie-list {
    padding: 50px 10px 0px 10px;
    overflow-x: hidden;
}

.movie-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #444;

  .movie-info {
    * {
      margin-bottom: 10px;
    }

  }

}

h3 a {
    color: white;
}

.genre-icon {
    background-color: #ccc;
    width: 24px;
    height: 24px;
}

.dropdown-menu {
  padding: 0 15px 15px 15px;
}

.genres {
  input[type=checkbox] {
    display: none;
  }
  label {
    display: block;
  }
  .label {
    display: block;
  }
}

.badge-default {
  background-color:  #424242;
}

.badge-danger {
  background-color:  #cc0000;
   -webkit-animation-name: pulse;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
   -webkit-animation-timing-function: linear;
   -webkit-animation-fill-mode: forwards;
   -webkit-animation-delay: 0s;
}

a.btn-xs > .glyphicon {
  line-height: 0;
  margin-right: 5px;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0.4; }
  100% { opacity: 1; }
}
