
.movie-list {
    padding: 50px 10px 0px 10px;
    overflow-x: hidden;
}

.movie-item {
    padding: 10px;
    border-bottom: 1px solid #444;

    color: #eee;
  .movie-info {
    * {
      margin-bottom: 10px;
    }
  }

  p.desc {
    margin-top: 10px;
    font-size: 16px;
  }
}

h3 a {
    color: #eee;
}

.genre-icon {
    background-color: #ccc;
    width: 24px;
    height: 24px;
}

.dropdown-menu {
  padding: 0 15px 15px 15px;
}

.navbar-info {
  padding: 0 15px;
}

.navbar-brand-ext {
  display: inline-block;
  width: 50px;
  background-image: url('Gids.png');
  height: 35px;
  background-size: cover;
  background-repeat-x: no-repeat;
  overflow: visible;
  z-index: 2;
  position: absolute;
  left: 176px;
  top: 22px;
}

.genres {
  input[type=checkbox] {
    display: none;
  }
  label {
    display: block;
  }
  .label {
    display: block;
  }
}

.label-default {
  background-color: #060606;
  border: 1px solid #560000;
}

.btn-default {
  background-color: #560000;
  border-color: #560000;
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
}

.badge {
  padding-top: 5px;
  font-size: inherit;
}

.badge-default {
  background-color:  #060606;
  border: 1px solid #666;
}

.badge-danger {
  background-color:  #A52323;
}

.navbar-brand-ext {
  font-size: 14px;
  color: #aaa;
  .badge {
    font-weight: normal;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
}

a.btn-xs > .glyphicon {
  line-height: 0;
  margin-right: 5px;
  position: relative;
  top:2px;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0.4; }
  100% { opacity: 1; }
}

@-webkit-keyframes rotate {
  0%   {
    transform: rotateZ(0deg);
  }
  50%  { transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(360deg);
  }
}

.spinner {
  bottom:0;height:80px;left:0;margin:auto;position:absolute;
  top:0;right:0;width:80px;
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(193, 41, 41, 0.25);
  border-right:6px solid rgba(193, 41, 41, 0.25);
  border-bottom:6px solid rgba(193, 41, 41, 0.25);
  border-top:6px solid rgba(193, 41, 41, 0.8);
  border-radius:100%;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}


icon-size = 25px

.kijkwijzer {
  background: url('kijkwijzer.png') no-repeat top left;
  width: icon-size;
  height: icon-size;
  display: inline-block;
  -webkit-filter: invert(100%);
  background-size: icon-size;
  &.sprite_6  { background-position: 0 0; }
  &.sprite_9  { background-position: 0 -1 * icon-size; }
  &.sprite_12 { background-position: 0 -2 * icon-size; }
  &.sprite_16 { background-position: 0 -3 * icon-size; }
  &.sprite_A  { background-position: 0 -4 * icon-size; }
  &.sprite_AL { background-position: 0 -5 * icon-size; }
  &.sprite_D  { background-position: 0 -6 * icon-size; }
  &.sprite_G  { background-position: 0 -7 * icon-size; }
  &.sprite_H  { background-position: 0 -8 * icon-size; }
  &.sprite_S  { background-position: 0 -9 * icon-size; }
  &.sprite_T  { background-position: 0 -10 * icon-size; }
}




.info {
  margin: 20px;
  line-height: 25px;
}







